body {
  font-weight: 400;
  font-family: 'Arial', sans-serif; }

.container {
  width: 80vw;
  max-width: 1150px;
  margin: 0 auto; }

h2 {
  font-size: 28px;
  font-weight: bold;
  font-family: 'Arial', sans-serif;
  text-align: center;
  margin-bottom: 50px;
  color: #130e47; }

.index.page .first.page#fp {
  background-color: #6dc8e2;
  background-image: -webkit-gradient(linear, left, from(#28668c), to(#6dc8e2));
  background-image: -webkit-linear-gradient(left, #28668c, #6dc8e2);
  background-image: -moz-linear-gradient(left, #28668c, #6dc8e2);
  background-image: -ms-linear-gradient(left, #28668c, #6dc8e2);
  background-image: -o-linear-gradient(left, #28668c, #6dc8e2);
  background-image: linear-gradient(left, #28668c, #6dc8e2);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,StartColorStr='#28668c', EndColorStr='#6dc8e2');
  color: #fff;
  position: relative;
  overflow: hidden;
  padding-bottom: 120px;
  /*For wave animation*/ }
  .index.page .first.page#fp img.bg {
    z-index: 1;
    position: absolute; }
  .index.page .first.page#fp img.bg-top-elem {
    top: -7vw;
    left: 4%;
    width: 58%; }
  .index.page .first.page#fp header .container {
    z-index: 10; }
    .index.page .first.page#fp header .container nav.index.navigation {
      box-sizing: border-box; }
      .index.page .first.page#fp header .container nav.index.navigation ul.navigation.list {
        display: flex;
        justify-content: space-between;
        padding-top: 40px;
        box-sizing: border-box; }
        .index.page .first.page#fp header .container nav.index.navigation ul.navigation.list li.navigation.item {
          border-bottom: 2px solid transparent;
          transition: 0.3s ease;
          z-index: 5; }
          .index.page .first.page#fp header .container nav.index.navigation ul.navigation.list li.navigation.item:hover {
            border-color: #fff; }
        .index.page .first.page#fp header .container nav.index.navigation ul.navigation.list a {
          color: #fff;
          text-transform: uppercase;
          font-size: 20px;
          line-height: 15.57px;
          letter-spacing: 4px;
          text-decoration: none;
          display: block;
          box-sizing: border-box;
          padding-bottom: 10px; }
  .index.page .first.page#fp .first.page.content {
    background-image: url(/img/bg-houses-1.png), url("/img/bg-houses-2.png"), url(/img/bg-central-part1.png), url(/img/bg-bottom1.png), url(/img/bg-sun.png);
    background-repeat: no-repeat;
    background-position: right 440px,  right 500px, 7vw 590px, right bottom, right 300px;
    background-size: 77%, 73%, 57%, 48%, 43%; }
    .index.page .first.page#fp .first.page.content .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin-top: 6vw; }
      .index.page .first.page#fp .first.page.content .container h1 {
        font-weight: bold;
        font-size: 65px;
        line-height: 60px;
        letter-spacing: 0.29px;
        margin-bottom: 7vh; }
      .index.page .first.page#fp .first.page.content .container p {
        font-size: 1.3vw;
        letter-spacing: 0.3px; }
      .index.page .first.page#fp .first.page.content .container .problems.box {
        width: 75vw;
        margin-top: 13vh;
        margin-bottom: 95px; }
      .index.page .first.page#fp .first.page.content .container .problems.list {
        display: flex;
        justify-content: space-between;
        width: 100%; }
      .index.page .first.page#fp .first.page.content .container .problems.item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 20%; }
        .index.page .first.page#fp .first.page.content .container .problems.item .problem.image {
          width: 75px;
          height: 75px;
          background-color: #66d5e3;
          opacity: 0.7;
          border-radius: 50%;
          position: relative;
          box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.5);
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: 10px; }
    .index.page .first.page#fp .first.page.content .company.sphere {
      width: 90%; }
      .index.page .first.page#fp .first.page.content .company.sphere .sphere.descr.box1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%; }
        .index.page .first.page#fp .first.page.content .company.sphere .sphere.descr.box1 img.doc {
          width: 13vw;
          height: auto; }
        .index.page .first.page#fp .first.page.content .company.sphere .sphere.descr.box1 img.trav {
          width: 7vw; }
        .index.page .first.page#fp .first.page.content .company.sphere .sphere.descr.box1 .sphere.text {
          width: 28vw;
          max-width: 450px;
          font-size: 1.3vw;
          color: #fff;
          text-align: left; }
        .index.page .first.page#fp .first.page.content .company.sphere .sphere.descr.box1 .sphere.box1.images {
          display: flex;
          justify-content: space-around;
          align-items: center;
          flex-grow: 2; }
      .index.page .first.page#fp .first.page.content .company.sphere .sphere.box2.images {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-around; }
        .index.page .first.page#fp .first.page.content .company.sphere .sphere.box2.images img:last-child {
          margin-right: 30px; }
  .index.page .first.page#fp .wave-box {
    height: 3%;
    width: 100%;
    position: absolute;
    bottom: -45px;
    left: 0;
    transform: rotate(180degdeg);
    transform: translate3d(0, -25px, 0);
    transform: translate3d(0, 5px, 0);
    transform: translate3d(0, -25px, 0);
    transform: translate3d(0, -25px, 0);
    transform: translate3d(0, 5px, 0);
    transform: translate3d(0, -25px, 0);
    transform: translate3d(0, -25px, 0);
    transform: translate3d(0, 5px, 0);
    transform: translate3d(0, -25px, 0);
    transform: translate3d(0, -25px, 0);
    transform: translate3d(0, 5px, 0);
    transform: translate3d(0, -25px, 0);
    transform: translate3d(0, -25px, 0);
    transform: translate3d(0, 5px, 0);
    transform: translate3d(0, -25px, 0); }

@-webkit-keyframes wave {
  0% {
    margin-left: 0; }
  100% {
    margin-left: -1600px; } }

@-moz-keyframes wave {
  0% {
    margin-left: 0; }
  100% {
    margin-left: -1600px; } }

@-ms-keyframes wave {
  .index.page .first.page#fp .wave-box 0% {
    margin-left: 0; }
  .index.page .first.page#fp .wave-box 100% {
    margin-left: -1600px; } }

@-o-keyframes wave {
  0% {
    margin-left: 0; }
  100% {
    margin-left: -1600px; } }

@keyframes wave {
  0% {
    margin-left: 0; }
  100% {
    margin-left: -1600px; } }

@-webkit-keyframes swell {}@-moz-keyframes swell {
  0% { } }

@-ms-keyframes swell {}@-o-keyframes swell {
  0% { } }

@keyframes swell {
  0% { } }
    .index.page .first.page#fp .wave-box .wave {
      background: url(/img/wave.svg) repeat-x;
      position: absolute;
      bottom: 0;
      width: 6400px;
      height: 198px;
      animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
      transform: translate3d(0, 0, 0); }
    .index.page .first.page#fp .wave-box .wave:nth-of-type(2) {
      bottom: 15px;
      animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite, swell 7s ease -1.25s infinite;
      opacity: 1; }

.index.page main section.expertise .container p {
  font-size: 18px;
  font-weight: 400;
  font-family: 'Arial', sans-serif;
  text-align: center;
  max-width: 580px;
  margin: 0 auto;
  color: #202d35; }

.index.page main section.expertise .container .expertise.block {
  margin: 100px auto 120px;
  display: flex;
  justify-content: space-around; }
  .index.page main section.expertise .container .expertise.block .expertise.item {
    margin: 0 20px; }
    .index.page main section.expertise .container .expertise.block .expertise.item p {
      color: #66bed9;
      font-weight: bold;
      font-family: 'Arial', sans-serif;
      text-align: center;
      font-size: 18px; }
  .index.page main section.expertise .container .expertise.block .expertise.pic {
    width: 170px;
    height: 160px;
    border-radius: 50px;
    box-shadow: 0 3px 10px rgba(49, 130, 166, 0.35);
    margin: 0 auto 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease; }
    .index.page main section.expertise .container .expertise.block .expertise.pic img {
      height: 70%;
      width: 70%; }
    .index.page main section.expertise .container .expertise.block .expertise.pic:hover {
      box-shadow: 0 3px 25px rgba(49, 130, 166, 0.4); }

.index.page main section.policy {
  margin-bottom: 80px; }
  .index.page main section.policy .policy.block {
    width: 55%;
    margin: 0 auto; }
  .index.page main section.policy .policy.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px; }
    .index.page main section.policy .policy.item p {
      color: #202d35;
      font-size: 1.2vw;
      width: 20vw;
      font-weight: 400;
      font-family: 'Arial', sans-serif;
      padding-left: 20px; }
    .index.page main section.policy .policy.item img {
      width: 21vw;
      height: auto; }
    .index.page main section.policy .policy.item:nth-child(even) p {
      order: -1;
      padding-right: 20px; }

.index.page main section.projects {
  margin-bottom: 100px; }
  .index.page main section.projects .projects.block {
    font-weight: 400;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin: 10px auto;
    justify-content: space-between; }
    .index.page main section.projects .projects.block .project.item {
      display: flex;
      width: 300px;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 50px;
      margin-right: 30px; }
      .index.page main section.projects .projects.block .project.item .project.company {
        width: 140px;
        color: #fff;
        background-color: #130e47;
        text-align: center;
        padding: 10px 5px;
        text-transform: uppercase;
        font-size: 19px; }
      .index.page main section.projects .projects.block .project.item .project.name {
        font-size: 18px;
        padding-top: 5px;
        padding-right: 5px; }
      .index.page main section.projects .projects.block .project.item .project.progress {
        width: 110px;
        height: 110px;
        border-radius: 50%;
        background-color: #130e47; }
  .index.page main section.projects a {
    display: block;
    color: #fff;
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
    background: url(/img/button.png) no-repeat center center/cover;
    background-size: 110%;
    width: 230px;
    padding: 30px 5px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Arial', sans-serif;
    border-radius: 25px;
    letter-spacing: 1.36px;
    margin: 0 auto;
    line-height: 14px;
    box-shadow: 0px 5px 0px #1d4e64;
    transition: 0.5s ease; }
    .index.page main section.projects a:hover {
      box-shadow: 0px 5px 0px rgba(29, 78, 100, 0.88), inset 0 0 35px rgba(225, 225, 225, 0.3);
      transition: 0.8s ease;
      opacity: 0.88; }
    .index.page main section.projects a:active {
      box-shadow: inset 0 0 45px rgba(0, 0, 0, 0.1);
      top: 6px;
      transition: 0.8s ease;
      opacity: 1; }

.index.page main section.services .services.block {
  position: relative;
  overflow: hidden; }
  .index.page main section.services .services.block .wave-box {
    height: 2%;
    width: 100%;
    position: absolute;
    bottom: -45px;
    left: 0;
    transform: translate3d(0, -25px, 0);
    transform: translate3d(0, 5px, 0);
    transform: translate3d(0, -25px, 0);
    transform: translate3d(0, -25px, 0);
    transform: translate3d(0, 5px, 0);
    transform: translate3d(0, -25px, 0);
    transform: translate3d(0, -25px, 0);
    transform: translate3d(0, 5px, 0);
    transform: translate3d(0, -25px, 0);
    transform: translate3d(0, -25px, 0);
    transform: translate3d(0, 5px, 0);
    transform: translate3d(0, -25px, 0);
    transform: translate3d(0, -25px, 0);
    transform: translate3d(0, 5px, 0);
    transform: translate3d(0, -25px, 0); }

@-webkit-keyframes wave {
  0% {
    margin-left: 0; }
  100% {
    margin-left: -1600px; } }

@-moz-keyframes wave {
  0% {
    margin-left: 0; }
  100% {
    margin-left: -1600px; } }

@-ms-keyframes wave {
  .index.page main section.services .services.block .wave-box 0% {
    margin-left: 0; }
  .index.page main section.services .services.block .wave-box 100% {
    margin-left: -1600px; } }

@-o-keyframes wave {
  0% {
    margin-left: 0; }
  100% {
    margin-left: -1600px; } }

@keyframes wave {
  0% {
    margin-left: 0; }
  100% {
    margin-left: -1600px; } }

@-webkit-keyframes swell {}@-moz-keyframes swell {
  0% { } }

@-ms-keyframes swell {}@-o-keyframes swell {
  0% { } }

@keyframes swell {
  0% { } }
    .index.page main section.services .services.block .wave-box .wave {
      background: url(/img/wave_footer.svg) repeat-x;
      position: absolute;
      bottom: 0;
      width: 6400px;
      height: 198px;
      animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
      transform: translate3d(0, 0, 0); }
    .index.page main section.services .services.block .wave-box .wave:nth-of-type(2) {
      bottom: 17px;
      animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite, swell 7s ease -1.25s infinite;
      opacity: 1; }
  .index.page main section.services .services.block .services.controls {
    width: 70%;
    margin: 40px auto 0;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .index.page main section.services .services.block .services.controls .button {
      width: 90px;
      position: relative;
      height: 90px;
      border-radius: 20px;
      background: transparent url(/img/small-button.png) no-repeat center center/cover;
      border: none;
      flex-direction: column;
      background-size: 110%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      box-shadow: 0px 5px 0px #1d4e64;
      transition: 0.5s ease;
      margin-bottom: 15px; }
      .index.page main section.services .services.block .services.controls .button:hover {
        box-shadow: 0px 5px 0px rgba(29, 78, 100, 0.88), inset 0 0 35px rgba(225, 225, 225, 0.3);
        transition: 0.8s ease;
        opacity: 0.9; }
      .index.page main section.services .services.block .services.controls .button:active {
        box-shadow: inset 0 0 45px rgba(0, 0, 0, 0.2);
        top: 6px;
        transition: 0.8s ease;
        opacity: 1; }
    .index.page main section.services .services.block .services.controls .wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center; }
      .index.page main section.services .services.block .services.controls .wrapper p {
        text-align: center; }
      .index.page main section.services .services.block .services.controls .wrapper img {
        width: 60px;
        height: 60px; }
  .index.page main section.services .services.block .services.content {
    position: relative;
    overflow: hidden; }
    .index.page main section.services .services.block .services.content .wave-box {
      height: 2%;
      width: 100%;
      position: absolute;
      top: 345px;
      left: 0;
      transform: translate3d(0, -25px, 0);
      transform: translate3d(0, 5px, 0);
      transform: translate3d(0, -25px, 0);
      transform: translate3d(0, -25px, 0);
      transform: translate3d(0, 5px, 0);
      transform: translate3d(0, -25px, 0);
      transform: translate3d(0, -25px, 0);
      transform: translate3d(0, 5px, 0);
      transform: translate3d(0, -25px, 0);
      transform: translate3d(0, -25px, 0);
      transform: translate3d(0, 5px, 0);
      transform: translate3d(0, -25px, 0);
      transform: translate3d(0, -25px, 0);
      transform: translate3d(0, 5px, 0);
      transform: translate3d(0, -25px, 0);
      z-index: 5; }

@-webkit-keyframes wave {
  0% {
    margin-left: 0; }
  100% {
    margin-left: -1600px; } }

@-moz-keyframes wave {
  0% {
    margin-left: 0; }
  100% {
    margin-left: -1600px; } }

@-ms-keyframes wave {
  .index.page main section.services .services.block .services.content .wave-box 0% {
    margin-left: 0; }
  .index.page main section.services .services.block .services.content .wave-box 100% {
    margin-left: -1600px; } }

@-o-keyframes wave {
  0% {
    margin-left: 0; }
  100% {
    margin-left: -1600px; } }

@keyframes wave {
  0% {
    margin-left: 0; }
  100% {
    margin-left: -1600px; } }

@-webkit-keyframes swell {}@-moz-keyframes swell {
  0% { } }

@-ms-keyframes swell {}@-o-keyframes swell {
  0% { } }

@keyframes swell {
  0% { } }
      .index.page main section.services .services.block .services.content .wave-box .wave {
        background: url(/img/wave_footer_top.svg) repeat-x;
        position: absolute;
        bottom: 0;
        width: 6400px;
        height: 198px;
        animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
        transform: translate3d(0, 0, 0); }
      .index.page main section.services .services.block .services.content .wave-box .wave:nth-of-type(2) {
        bottom: 16px;
        animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite, swell 7s ease -1.25s infinite;
        opacity: 1; }
    .index.page main section.services .services.block .services.content .content {
      margin: 20px auto; }
      .index.page main section.services .services.block .services.content .content h3 {
        font-weight: bold;
        font-family: 'Arial', sans-serif;
        font-size: 22px;
        text-align: center; }
      .index.page main section.services .services.block .services.content .content p {
        text-align: center;
        width: 50%;
        margin: 0 auto 60px; }
      .index.page main section.services .services.block .services.content .content .pictures {
        z-index: 20;
        width: 100%;
        padding: 170px 0 150px;
        margin-bottom: 30px;
        background: url(/img/bg_footer.png) no-repeat center center/cover; }
        .index.page main section.services .services.block .services.content .content .pictures .pic {
          display: flex;
          width: 40%;
          margin: 0 auto;
          height: 300px;
          justify-content: space-between; }
          .index.page main section.services .services.block .services.content .content .pictures .pic img:last-child {
            margin-top: 100px; }

.index.page footer {
  width: 100%;
  background-color: #eaeaea;
  padding-bottom: 40px; }
  .index.page footer .contact.box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .index.page footer .contact.box a {
      font-weight: bold;
      font-family: 'Arial', sans-serif;
      font-size: 18px;
      color: #202d35;
      text-decoration: none; }
    .index.page footer .contact.box .contact.socials {
      display: flex;
      width: 200px;
      justify-content: space-between; }
      .index.page footer .contact.box .contact.socials a {
        width: 60px;
        position: relative;
        height: 60px;
        border-radius: 18px;
        background: transparent url(/img/small-button.png) no-repeat center center/cover;
        border: none;
        flex-direction: column;
        background-size: 110%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        box-shadow: 0px 5px 0px #1d4e64;
        transition: 0.5s ease;
        margin-bottom: 15px; }
        .index.page footer .contact.box .contact.socials a:hover {
          box-shadow: 0px 5px 0px rgba(29, 78, 100, 0.88), inset 0 0 35px rgba(225, 225, 225, 0.3);
          transition: 0.8s ease;
          opacity: 0.9; }
        .index.page footer .contact.box .contact.socials a:active {
          box-shadow: inset 0 0 45px rgba(0, 0, 0, 0.2);
          top: 6px;
          transition: 0.8s ease;
          opacity: 1; }

html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, form, label, table, ul, ol, footer, header, menu, nav, section {
  margin: 0;
  padding: 0; }

ol, ul {
  list-style: none; }


